@charset "utf-8";
/*///////////////////////////////////////////
				CSS READING
///////////////////////////////////////////*/

/* RESET */
a,img,ul,li,table,tr,td,p,h1,h2,h3,h4,h5,h6,ol,div,body,html,dl,dt,dd,h1,h2,h3,h4,h5,h6,hr,iframe {
	padding:0px;
	margin:0px;
	border:none;
	list-style:none;
	font-weight:inherit;
	font-size:1em;
}
img { vertical-align:middle; max-width:100%; height:auto; -webkit-backface-visibility: hidden; }
a img { border:none; }

/*font-style
---------------------------------------*/

body {
	overflow-x:hidden;
	position: relative;
	font-size:14px; 
	line-height:1.8; 
	color: #333;
	font-family:"Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体",'Lucida Grande','Hiragino Kaku Gothic ProN', Meiryo, sans-serif;
	font-weight: 500;
	-webkit-text-size-adjust:100%; /* NEW! */
	text-size-adjust:100%; /* NEW! */
}

body *{box-sizing: border-box;}

body *.bs_cb{box-sizing: content-box;}

.bold { font-weight:bold; }
.nobold { font-weight:normal; }

/*fontfamily-style
---------------------------------------*/

.mincho{
	font-family:"游明朝", "Yu Mincho", YuMincho, "游明朝体", 'ヒラギノ明朝 Pro W3','Hiragino Mincho Pro','HGS明朝E','ＭＳ Ｐ明朝', serif;
}

/*fontsize-style
---------------------------------------*/
.text24 { font-size:24px; }
.text22 { font-size:22px; }
.text20 { font-size:20px; }
.text18 { font-size:18px; }
.text16 { font-size:16px; }
.text14 { font-size:14px; }
.text12 { font-size:12px; }
.text10 { font-size:10px; }


/*color-style
---------------------------------------*/
.color_red { color:#990000; }
.color_blue { color:#000099; }
.color_green { color:#009900; }
.color_yellow { color:#FFFF00; }

/*link-style
---------------------------------------*/
a { text-decoration:none;  color:inherit; } /* NEW! */



body>img,body>iframe{
	display:none;
}

/*** CLEAR-FIX ***/
.clearfix:after { content: ""; display: block; clear: both; height:0; }
.clearfix { zoom:1; }

 /* ふんわりアルファオーバー */

.alpha a img{
	transition:all 0.5s ease-in-out;
}

.alpha a:hover img{
	opacity:0.7;
}

/* fade utility  ふんわりマウスオーバー画像置換 */
.fadeimg_wrap{
	display:inline-block;
	position:relative;
}
.fadeimg_wrap img{
	transition:all 0.5s linear;
}

.fadeimg_wrap img.off{
	position:relative;
	z-index:1;
}

.fadeimg_wrap:hover img.off{
	opacity:0;
}

.fadeimg_wrap:hover img.on{
	opacity:1;
}

.fadeimg_wrap img.on{
	position:absolute;
	top:0;
	left:0;
	z-index:2;
	opacity:0;
}

/*** FLOAT ***/
.fl_r { float:right; }	
.fl_l { float:left; }
.fl_n { float:none; }

.fl_ul { zoom:1; } /* NEW! */
.fl_ul:after { content: ""; display: block; clear: both; height:0; }
.fl_ul li { float:left; }

.cl_b{clear:both;} /* NEW! */


/*caption*/

.cap_l{
	text-align:left;
	font-size:10px;
}
.cap_r{
	text-align:right;
	font-size:10px;
}

.center{
	margin-left:auto !important;
	margin-right:auto !important;
}

/*** ALIGN ***/
.ta_c { text-align:center; }
.ta_r { text-align:right; }
.ta_l { text-align:left; }


/* Table Class */
.table1 {
	border-top:1px solid #d1d1d1;
	border-left:1px solid #d1d1d1;
	background:#f5f5f5;
	border-collapse:collapse;
	padding:0;
	width:100%;
}

.table1 td {
	border-bottom:1px solid #d1d1d1;
	border-right:1px solid #d1d1d1;
	padding:8px;
	background:#fff;
}
.table1 th {
	border-bottom:1px solid #d1d1d1;
	border-right:1px solid #d1d1d1;
	width:200px;
	padding:8px;
	text-align:left;
}
.table1 td table td { border:none; }


/* col(n) - リストをグリッド並べ -  */

/* clearfix不要 */

.ul_col3{
	zoom:1;
}

.ul_col3:after { content: ""; display: block; clear: both; height:0; }

.ul_col3 li{
	float:left;
	width:32%;  /* リスト幅 */
	margin-right:2%; /* 横マージン */
	margin-bottom:2%;　/* 縦マージン */
}

.ul_col3 li:nth-child(3n){ /* 3の倍数だけ横マージン殺し */
	margin-right:0;
}

.ul_col4{
	zoom:1;
}

.ul_col4:after { content: ""; display: block; clear: both; height:0; }

.ul_col4 li{
	float:left;
	width:22%;  /* リスト幅 */
	margin-right:4%; /* 横マージン */
	margin-bottom:4%;　/* 縦マージン */
}

.ul_col4 li:nth-child(4n){ /* 4の倍数だけ横マージン殺し */
	margin-right:0;
}

.ul_col4 li:nth-child(4n+1){
	clear:both;
}

body:not(.mobile) a.sp_link{
	pointer-events: none;
}


@media screen and (max-width: 767px){

	.text24 { font-size:18px; }
	.text22 { font-size:17px; }
	.text20 { font-size:16px; }
	.text18 { font-size:15px; }
	.text16 { font-size:14px; }
	.text14 { font-size:13px; }
	.text12 { font-size:12px; }
	.text10 { font-size:10px; }


	.ul_col4 li{
		width:48%;
		margin-right:4%;
		margin-bottom:4%;
	}
	
	.ul_col4 li:nth-child(2n){ /* 2の倍数も横マージン殺し */
		margin-right:0;
	}
	
	.ul_col4 li:nth-child(2n+1){
		clear:both;
	}
		
	.ul_col3 li{
		width:auto;
		float:none;
		margin-right:0;
	}

	.vpc{display:none;}
	
}


@media not screen, screen and (min-width: 768px){

	.vsp{display:none;}
}

@media screen and (max-width: 600px){


	.ul_col4 li{
		width:auto;
		float:none;
		margin-right:0;
	}
	
	.vpc600{display:none;}
	
}

@media not screen,screen and (min-width: 601px){

	.vsp600{display:none;}
	
}

@media screen and (max-width: 480px){

	.vpc480{display:none;}
	
}

@media not screen,screen and (min-width: 481px){

	.vsp480{display:none;}
	
}

/*///////////////////////////////////////////
				Shiny CSS
				MUTO 2016
///////////////////////////////////////////*/


.shiny a {
    display: inline-block;
	max-width:100%;
    position: relative;
    overflow: hidden;
}
.shiny a:before {
    display: block;
    position: absolute;
    z-index: 10;
    left: -100%;
    top: 0;
    content: "";
    width: 100%;
    height: 100%;
	background: -moz-linear-gradient(-45deg,  rgba(255,255,255,0) 0%, rgba(255,255,255,0) 25%, rgba(255,255,255,0.5) 50%, rgba(255,255,255,0) 75%, rgba(255,255,255,0) 100%);
	background: -webkit-linear-gradient(-45deg,  rgba(255,255,255,0) 0%,rgba(255,255,255,0) 25%,rgba(255,255,255,0.5) 50%,rgba(255,255,255,0) 75%,rgba(255,255,255,0) 100%);
	background: linear-gradient(135deg,  rgba(255,255,255,0) 0%,rgba(255,255,255,0) 25%,rgba(255,255,255,0.5) 50%,rgba(255,255,255,0) 75%,rgba(255,255,255,0) 100%);
	animation: shiny 4s infinite linear;
}

/*光の起点と終点の指定*/
@keyframes shiny {
    0% {
        left: -100%;
    }
    20% {
        left: 100%;
    }
    100% {
        left: 100%;
    }
}


