@charset "utf-8";

/*=====================================================
COMMON-LAYOUT
======================================================*/

h1{
	display: none;
}


header{
	width:100%;
	background:url(../images/common/head_bg.jpg) top left repeat-x;
}

div.header{
	margin:0 auto;
	position:relative;
	max-width:960px;
	padding:0 10px;
	height:60px;
	box-sizing: content-box;
}


div.header h2{
	position:absolute;
	top:5px;
	left:10px;
	line-height:0;
	font-size:0;
}

ul.headnavi{
	position:absolute;
	top:10px;
	right:10px;
	font-size:0;
	line-height:0;
}

.nav_btn{
	position:absolute;
	top:10px;
	right:10px;
	width:40px;
	display:none;
}

ul.headnavi li{
	float:left;
}

nav.gnavi_wrap{
	background:url(../images/common/gnavi_bg.jpg) top left repeat-x;
	position:relative;
}

ul.pc_nav{
	max-width:960px;
	margin:0 auto;
	font-size:0;
	line-height:0;
}
ul.pc_nav li{
	float:left;
	width:12.5%;
}

ul.pc_nav li>a.cr>img.off{
	display:none !important;
}

ul.pc_nav li>a.cr>img.on{
	position:relative !important;
	opacity:1;
}

ul.pc_nav li>img.on{
	display:none;
}

ul.pc_nav li>span.fadeimg_wrap{
	position:relative;
	z-index:1;
	opacity:0.4;
	pointer-events: none;
}

ul.sp_nav {
	position:absolute;
	top:0;
	left:0;
	right:0;
	background:#333;
	z-index:9999;
	display:none;
}
.sp_nav li {
	float:left;
	width:25%;
	border:1px solid #FFFFFF;
	box-sizing: border-box;
	text-align:center;
	line-height:40px;
}
.sp_nav li a {
	padding:0 1%;
	display:block;
	background:#EEE;
	color:#333;
}
.sp_nav li a.cr,.sp_nav li a:hover {
	text-decoration:none;
	background:rgba(255,255,255,0.5);
}


.sp_nav li.inq {
	width:50%;
}

.sp_nav li.inq a {
	text-decoration:none;
	background:#900;
	color:#FFF;
}

div.contents_wrap{
	width:100%;
	background:url(../images/common/contents_bg.jpg) top left repeat-x;
}

ul.breadlist{
	max-width:960px;
	margin:0 auto ;
	padding:10px 10px;
	box-sizing: content-box;
}

ul.breadlist li{
	display: inline-block;
}

ul.breadlist li:after{
	content: "> ";
}

ul.breadlist li:last-child:after{
	content: none;
}

ul.breadlist li a{
	text-decoration: underline;
}

ul.breadlist li a:hover{
	text-decoration: none;
}

div.container{
	max-width:960px;
	margin:0 auto;
	padding:30px 10px 50px;
	box-sizing: content-box;
}

footer{
	width:100%;
	background:url(../images/common/footer_bg.jpg) top left repeat-x;
}

div.footer{
	max-width:960px;
	margin:0 auto;
	padding:0 10px;
	box-sizing: content-box;
}

.copyright{
	background:#000;
	color:#CCC;
	padding:3px 0;
}
address{
	max-width:960px;
	margin:0 auto;
	box-sizing: content-box;
	padding:0 10px;
	text-align:right;
	font-style:normal;
	font-size:10px;
}

.img_cap{
	position: relative;
}

.img_cap span{
	background: rgba(0,0,0,0.6);
	font-size:10px;
	display: block;
	padding:3px 5px;
	line-height: 1.5;
	color: #FFFFFF;
	position: absolute;
	bottom: 0;
	right: 0;
	text-align: right;
}

.img_cap.white span{
	background: rgba(255,255,255,0.6);
	color: #333333;
}

.pagetop{
	position: fixed;
	bottom: 20px;
	right: -60px;
	transition: all 0.5s ease-in-out 0s;
}

.pagetop.scrolled{
	right: 20px;
}

.pagetop2{
	position: fixed;
	bottom: 80px;
	right: -60px;
	transition: all 0.5s ease-in-out 0s;
}

.pagetop2.scrolled{
	right: 20px;
}


@media screen and (max-width: 767px){

	div.header h1{
		display:none;
	}
	
	ul.headnavi{
		display:none;
	}
	
	ul.pc_nav{
		display:none;
	}

	.nav_btn{
		display:block;
	}
	

	
}


@media screen and (max-width: 600px){

	.sp_nav li {
		width:50%;
	}
	.sp_nav li.inq {
		width:100%;
	}
	
}